.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    z-index: -10;
}

#google-s{
    color:rgb(255, 255, 255);
}

#google-c{
    color:#ffffff;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
    background-color: aliceblue;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: aliceblue;
}

.search-box{
    background-color: rgb(54, 192, 0);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border-radius: 15px;
    cursor: pointer;
}

#search-button{
    color: whitesmoke;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


#answer-box{
    width: 700px;
    margin-top:50px;
}

.city-box{
    width: 600px;
    margin: auto;
    margin-top: 25px;
    padding: 8px;
    background-color: rgb(54, 192, 0); 
    border-radius: 20px;

}

.city-box img{
    height: 400px;
    width:600px;
    margin:auto;
    border-radius: 10px;
}

.box-template {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}

.box-template h3 {
	font-size: 20px;
	margin: 0 0 5px;
	margin-top: 0px;
}

.box-template p {
	margin: 0;
}


.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}


.answer-box{
    background-color: #f9f9f9;
}
